<section class="section">
    <div class="columns is-centered">
        <div class="column is-half">
            <form {{action "createOrder" this on="submit"}}>
                <div class="field">
                    <label class="label">Your Name</label>
                    <div class="control">
                        {{input value=customer_name type="text" class="input" id="name" placeholder="Name" name='customer_name'}}
                    </div>
                    {{#if displayErrors}}
                        <p class="help is-danger">{{errors.customer_name}}</p>
                    {{/if}}
                </div>

                <div class="field">
                    <label class="label">Phone Number</label>
                    <div class="control">
                        {{input value=customer_phone type="text" class="input" id="phone" placeholder="Phone" name='customer_phone'}}
                    </div>
                    {{#if displayErrors}}
                        <p class="help is-danger">{{errors.customer_phone}}</p>
                    {{/if}}
                </div>
                <br/>
                <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                        <button type="submit" class="button is-danger">
                            Create Order
                        </button>
                    </p>
                    <p class="control">
                        <a class="button is-light" {{action "clearCart"}}>
                            Cancel (Clear Cart)
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>